@media screen {
    @font-face {
        font-family: "Calligraffitti";
        font-size: normal;
        font-weight: normal;
        src: local("Calligraffitti") 
        url("http://themes.googleusercontent.com/static/fonts/calligraffitti/v1/vLVN2Y-z65rVu1R7lWdvyKIZAuDcNtpCWuPSaIR0Ie8.woff") format("woff");
    }
}